* {
    background-color: #74D5DD;
    font-family: monospace;
    text-align: center;
}

table {
    background-color: black;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h3 {display: inline;
    }


.field {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkcyan;}


.Entry {
    width: 50%;
    float: left;
}

.submit {
    display: inline;
}