<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KRYPTO - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css"></link>
</head>
<body>
    <header>
        <p>Krypto Exchange</p>
    </header>
    
    <div class='botones'>
    <button id='Start'><a href='/'> Start</a></button>    
    <button id='Purchase'><a href='purchase'> Purchase</a></button>
    <button id='Status'><a href='status'> Status</a></button>
    </div>
    
    <section class = "main">
        {% block content%} {% endblock %}
    </section>

    <footer>
        &copy; 2021 - All rights reserved.
    </footer>
    
</body>
</html>