{% extends 'base.html' %}

{% block title %} Movements {% endblock %}

{% block content %}
    <h1>MOVEMENTS</h1>
        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>From_Currency</th>
                <th>From_Quantity</th>
                <th>To_Currency</th>
                <th>To_Quantity</th>
                <th>P.U.</th>
            </tr>
        {% for registro in datos %}
            <tr>
                <td> {{ registro [0] }} </td>
                <td> {{ registro [1] }} </td>
                <td> {{ registro [2] }} </td>
                <td> {{ registro [3] }} </td>
                <td> {{ registro [4] }} </td>
                <td> {{ registro [5] }} </td>
                <td> {{ (registro [3] / registro [5]) | round(2, 'ceil') }} </td>
                
            </tr>
        {% endfor %}
        </table>
    
    {% endblock %}