{% extends 'base.html' %}

{% block title %} Coin Purchase {% endblock %}

{% block content %}

<h2>Coin Purchase</h2>
<br>
<form action = 'purchase' method = 'POST'>
    {{ form.hidden_tag() }}
    <div class = 'grid-container'>
        <div class = 'Coins_from' style="width: 40%;">
            {{ form.Coins_from.label }}
            {{ form.Coins_from }}
        </div>
        <div class = 'Q_from'>
            {{ form.Q_from.label}}
            {{ form.Q_from }}
            {% for error in form.Q_from.errors %}
                <p class="err-msg">{{ error }}</p>
            {% endfor %}
            {% for message in messages %}
                <p class="err-msg-purchase">{{ message }}</p>
            {% endfor %}
            {% if fix == True %}
                {{ form.convert (disabled=True)}}
            {% else %}
                {{ form.convert }}
            {% endif %} 
        </div>
        <div class = 'Coins_to' style="width: 60%;">
            {{ form.Coins_to.label }}
            {{ form.Coins_to }}
        </div>
        {% if fix == True %}
            <div class = 'Q_to'>
                {{ form.Q_to.label }}
                {{ form.Q_to (value = form.Q_to_oculto.data) }}
            </div> 
        {% else %}
            <div class = 'Q_to'>
                {{ form.Q_to.label }}
                {{ form.Q_to(disabled=True) }} 
            </div>
        {% endif %}

        {% if fix == True %}
            <div class = 'PU'>
                {{ form.PU.label }}
                {{ form.Q_to (value = form.PU_oculto.data) }}
            </div>
        {% else %}
            <div class = 'PU'>
                {{ form.PU.label }}
                {{ form.PU(disabled = True) }}
            </div>         
        {% endif %}

        {% if fix == True %}
            <div class='submit'>
                {{ form.accept }}
            </div>
        {% else %}
            <div class='submit'>
                {{ form.accept (disabled=True)}}
            </div>
        {% endif %}
    </div>
</form>

{% if fix == True %}
<div class='box'>Click 'Accept' to invest the following:</div>
<table>
    <tr>
        <th>From_Currency</th>
        <th>To_Currency</th>
        <th>From_Quantity</th>
        <th>To_Quantity</th>
        <th>P.U.</th>
    </tr>
    <tr>
        <td>{{ form.C_from_oculto.data }}</td>
        <td>{{ form.C_to_oculto.data }}</td>
        <td>{{ form.Q_from_oculto.data }}</td>
        <td>{{ form.Q_to_oculto.data }}</td>
        <td>{{ form.PU_oculto.data }}</td>
    </tr>
</table>
{% endif %}

{% endblock %}





