{% extends 'base.html' %}

{% block title %} Coin Purchase {% endblock %}

{% block content %}

<h2>Coin Purchase</h2>

<form action = "/">
    <div class= 'Entry'>
        <div class = 'From'>
            <label for='Coins'>From</label>
            <select name='Coins' id='Coins' style= 'width: 125px'>
                <option value="EUR">EUR</option>
                <option value="ETH">{{ symbols [0] }}</option>
                <option value="LTC">{{ symbols [1] }}</option>
                <option value="BNB">{{ symbols [2] }}</option>
                <option value="EOS">{{ symbols [3] }}</option>
                <option value="XLM">{{ symbols [4] }}</option>
                <option value="TRX">{{ symbols [5] }}</option>
                <option value="BTC">{{ symbols [6] }}</option>
                <option value="XRP">{{ symbols [7] }}</option>
                <option value="BCH">{{ symbols [8] }}</option>
                <option value="USDT">{{ symbols [9] }}</option>
                <option value="BSV">{{ symbols [10] }}</option>
                <option value="ADA">{{ symbols [11] }}</option>
            </select>
            
        </div>
        <br>
        <br>
        <div class = 'Quantity'>
            <label for='Q'>Q: </label>
            <input type='number' name='Q'>
        </div>
    </div>

    <div class = 'Entry'>
        <div class = 'To'>
            <label for='Coins'>To</label>
            <select name='Coins' id='Coins' style= 'width: 125px'>
                <option value="EUR">EUR</option>
                <option value="ETH">{{ symbols [0] }}</option>
                <option value="LTC">{{ symbols [1] }}</option>
                <option value="BNB">{{ symbols [2] }}</option>
                <option value="EOS">{{ symbols [3] }}</option>
                <option value="XLM">{{ symbols [4] }}</option>
                <option value="TRX">{{ symbols [5] }}</option>
                <option value="BTC">{{ symbols [6] }}</option>
                <option value="XRP">{{ symbols [7] }}</option>
                <option value="BCH">{{ symbols [8] }}</option>
                <option value="USDT">{{ symbols [9] }}</option>
                <option value="BSV">{{ symbols [10] }}</option>
                <option value="ADA">{{ symbols [11] }}</option>
            </select>
        </div>
        <br>
        <br>
        <div class = 'To'>
            <label type = 'text' for='Q'>Q: </label>
        </div>
        <br>
        <br>
        <div class = 'To'>
            <label type = 'text'>P.U.:</label>
        </div>
        <br>
        <br>
        <div class='submit'>
            <div class='submit'>
                <input type = 'submit' value=&#10003;>
            </div>
            <div class='submit'>
                <input type = 'submit' value=&#10005;>
            </div>
        </div>
    </div>



</form>
        
{% endblock %}