{% extends 'base.html' %}

{% block title %} Status {% endblock %}

{% block content %}
    <h1>Investment State</h1>
    {% for message in messages %}
        <p class="err-msg">{{ message }}</p>
    {% endfor %}
    <table>
        <tr>
            <td class = 'invested'>Invested: {{ total }}€ </td>
        </tr>
        <tr>
            <td class = 'Revenue'>Actual value: {{ actual_value }}€  </td>
        </tr>
        {% for message in messages %}
            <p class='err-state'>{{ message }}</p>
    </table>

{% endblock %}